/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,

time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background: #f7ebe1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,

q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;	
}

.header {
width: 776px;
height: 130px;
background-image: linear-gradient(to right, #ff3e47 0%, #ff962b 100%);
}
.head2 {
width: 80px;
height: 35px;
background-color: #ff912d;
}

.logo {
width: 172px;
height: 98px;
}

.text1,.text2{
color: #231f20;
font-family: "Roboto Condensed";
font-weight: 300;
line-height: 1.5;
text-transform: uppercase;	
}

.text1 {
font-size: 24px;
}

.text2 {
font-size: 14px;
}

.text3,.text4 {
color: #231f20;
font-family: "Roboto Condensed";
font-size: 13px;
line-height: 1.5;
text-transform: uppercase;
}
.text3 {
font-weight: 400;
}
.text4 {
font-weight: 300;
}

.text5 {
color: #ffffff;
font-family: "Roboto Condensed";
font-size: 20px;
font-weight: 700;
text-transform: uppercase;		
}
